/*//////////////////////////////////////////Modification/////////////////////////////////////*/

body {
    background-color: #fbf5ff;
    font-family: 'Roboto';
    font-size: 0.8rem !important;
}

.col-xxl-12 {
    max-width: 1750px !important;
}

label {
    color: #636363;
    font-size: 14px !important;
}

.form-control {
    color: #636363;
    font-size: 14px !important;
}

.form-select {
    color: #636363;
    font-size: 14px !important;
}

.input-group-text {
    background-color: transparent;
    color: #636363;
    font-size: 14px !important;
}

.btn:focus, .form-control:focus, .form-select:focus, .accordion-button:focus {
    outline: none !important;
    box-shadow: none;
    border-color: rgba(59, 171, 113, 0.29);
}

.search_input:focus {
    border-color: #ced4da;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-button::after {
    width: 0.75rem;
    height: 0.75rem;
    background-size: 0.75rem;
}

.accordion-item {
    border-color: aliceblue;
}

.accordion span {
    font-size: 14px !important;
}

.user_dropdown::after {
    content: none;
}




/*///////////////////////////////////////////////Defined///////////////////////////////////////////////*/

.text_color_default  {
    color: #A020F0;
}

.text_color_primary  {
    color: rgba(201, 125, 250, 0.76);
}

.text_color_secondary  {
    color: rgba(232, 190, 255, 0.6);
}

.text_color_1 {
    color: #111111;
}

.text_color_2 {
    color: #222222;
}

.text_color_3 {
    color: #333333;
}

.text_color_4 {
    color: #444444;
}

.text_color_5 {
    color: #555555;
}

.text_color_6 {
    color: #666666;
}

.text_color_7 {
    color: #777777;
}

.text_color_8 {
    color: #888888;
}

.text_color_9 {
    color: #999999;
}

.text_color_a {
    color: #aaaaaa;
}

.text_color_b {
    color: #bbbbbb;
}

.text_color_c {
    color: #cccccc;
}

.text_color_d {
    color: #dddddd;
}

.text_color_e {
    color: #eeeeee;
}

.btn_default {
    background-color: #A020F0;
    color: #ffffff;
    border-radius: 0.375rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.5)!important;
}

.btn_default:hover {
    background-color: rgba(211 125 250 / 92%);;
}

.btn_default:disabled {
    background-color: #626f68;
    color: #ffffff;
    border-radius: 0.375rem;
}


.btn_secondary {
    background-color: #ffffff;
    border: 1px solid #328C59;
    color: #328C59;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.1);
}

.btn_secondary:hover {
    color: #65bd5e;
}

.btn_secondary:disabled {
    background-color: #626f68;
    color: #2f1d1d;
    border-radius: 0.375rem;
}

.border_color_default {
    border-color: #fbf5ff !important;
}

.background_color_default {
    background-color: #A020F0;
}

.background_color_primary {
    background-color: rgba(211 125 250 / 92%);
}

.background_color_secondary {
    background-color: #fbf5ff;
}

.background_color_light_gray {
    background-color: #efefef;
}

.font_size_12 {
    font-size: 12px;
}

.font_size_13 {
    font-size: 13px;
}

.font_size_14 {
    font-size: 14px;
}

.font_size_15 {
    font-size: 15px;
}

.font_size_16 {
    font-size: 16px;
}

.font_size_17 {
    font-size: 17px;
}

.font_size_18 {
    font-size: 18px;
}


